*.iml
/android/.gradle
/local.properties
/build
/android/.idea
/gradle
/node_modules
/android/build
Ios/build
/android/app/build
.idea/
*.xcuserstate
*.xcuserstate
ios/RNAgoraExample.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
